<!DOCTYPE html>
<html>
<body>
<h2>HTML Forms</h2>

<form action="/form" method="POST">
  Foods:<br>
  <input type="text" name="foodName">
  <br>
  From:<br>
  <input type="text" name="clients">
  <br>
  <textarea name='description'></textarea>
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/form".</p>

</body>
</html>