<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/mystyle.css">
</head>
<body>
	<h1>Main</h1>
	<p>This is main page</p>
	<nav>
		<a href="/form" class="form-link">form</a>
		<a href="/" class="form-link">Index</a>
	</nav>
</body>
</html>